<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.board.pds.mapper.PdsMapper">  

<!-- 자료실 목록 조회 -->  
  <select id="getPdsList" >
  SELECT  BNO
        ,TITLE
        ,WRITER
        ,(SELECT COUNT(*) 
            FROM FILES  F
             WHERE B.BNO = F.BNO) FILESCOUNT
        ,TO_CHAR(REGDATE,'YYYY-MM-DD') REGDATE
        ,HIT
  FROM  BOARD B
  WHERE MENU_ID = #{ menu_id }
  ORDER BY BNO DESC
  
  </select>
  
  <select id="getPds">
  SELECT  BNO
		 ,MENU_ID
		 ,TITLE
		 ,CONTENT
		 ,WRITER
		 ,TO_CHAR(REGDATE,'YYYY-MM-DD HH24:MI:SS') REGDATE
		 ,HIT
    FROM  BOARD
    WHERE BNO = #{bno}
  </select>
  
  <select id="getfileList">
  SELECT FILE_NUM
		 ,BNO
		 ,FILENAME
		 ,FILEEXT
		 ,SFILENAME
  FROM   FILES
  WHERE  BNO = #{bno}
  
  </select>
  
  <!-- 자료실 글쓰기(Board에 저장) -->
  <insert id="setWrite">
    INSERT INTO BOARD(
    	BNO
    	,MENU_ID
    	,TITLE
		,CONTENT
		,WRITER
		,REGDATE
		,HIT
    )
      VALUES (
         (SELECT NVL(MAX(BNO),0)+1 FROM BOARD)
    	,#{menu_id}
    	,#{title}
		,#{content}
		,#{writer}
		,SYSDATE
		,0
      )
  </insert>
  
  <!-- 자료실 파일 정보 저장(Files) -->
  <!-- FileInsert : 넘어온 파일 여러개를 한번에 저장 INSERT ALL 
       ORACLE INSERT ALL 반복할 때 
       1) SELECT NVL(MAX(file_num),0) + 1, 또는
       2) 시퀀스는 한번만 실행되기 때문에 
       INSERT ALL 에 바로 집어넣을 수 없다
       별도의 ORACLE 함수를 생성하여 호출해야 값을 증가 할 수 있다
       
       MYBATIS의 <insert> 안에는 ;을 사용할 수 없다
       -> 즉, insert value; 를 여러번 사용할 수 없다 이유는 ; 때문
       insert all 사용하면 insert 여러번 가능한데 이 경우 
       select(max()), sequence 는 여러번 적어도 한번만 호출되므로
       insert value 의 값이 증가되지 않는다
       => 해결책: oracle 에 별도 함수를 두어 sequence 을 저장하여 반복 호출하면 된다 
       
       ( SELECT NVL(MAX(file_num),0) + 1 FROM FILES ) - 한번만 실행되므로 사용하면 안됨
       GET_FILENUM() - ORACLE 함수를 생성해서 사용
  -->
  <insert id="setFileWrite">
    <foreach collection ="fileList" item ="file" 
    	index     = "i"
    	open      = "INSERT ALL"
    	close     = 'SELECT * FROM DUAL'
    	separator = " " >
    	INTO FILES VALUES(
    	     GET_FILENUM() 
    		, (SELECT MAX(BNO) FROM BOARD)
    		, #{ file.filename  }
    		, #{ file.fileext   }
    		, #{ file.sfilename }
    	
    	)
    </foreach>
  </insert>
  
  <!-- 조회수 증가 -->
  <update id="setReadCountUpdate">
  
  UPDATE  BOARD
    SET   HIT = HIT + 1
    WHERE BNO = #{bno}
  
 </update>
 
 <!-- 파라미터 file_num 은 오류발생 : arg0 or param1 사용
 일반 변수는 대응되는 getter/setter가 없기 때문
 -->
 <select id="getFileInfo">
 SELECT  FILE_NUM
		 ,BNO
		 ,FILENAME
		 ,FILEEXT
		 ,SFILENAME
  FROM   FILES
  WHERE  FILE_NUM = #{arg0}
 
 </select>
  
</mapper>

















